.navigation__loggedIn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.navigation__link {
    font-family: 'Inter', sans-serif, Arial;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    text-decoration: none;
    color: #FFFFFF;
    margin-right: 30px;
    transition: opacity .3s ease;
}

.navigation__link:hover {
    opacity: 0.7;
}

.navigation__button {
    padding: 8px 20px;
    background-color: #2BE080;
    font-family: 'Inter', sans-serif, Arial;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: opacity .3s ease;
}

.navigation__button:hover {
    opacity: 0.8;
}

.navigation__profile-button {
    border: none;
    width: 100px;
    height: 32px;
    border-radius: 40px;
    box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.08);
    padding: 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: opacity .3s ease;
}

.navigation__profile-button:hover {
    opacity: 0.8;
}

.navigation__profile-button_blue {
    background: #073042;
}

.navigation__profile-button_black {
    background: #202020;
}

.navigation__profile-button_text {
    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Inter', sans-serif, Arial;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 12px;
    margin: 0;
    margin-left: 11px;
    margin-right: 7px;
    text-decoration-line: none;
}

.navigation__profile-button_image {
    border-radius: 50px;
    height: 10px;
    width: 10px;
    padding: 7.8px;
}

.navigation__profile-link {
    text-decoration: none;
}

.navigation__profile-button_image_blue {
    background-color: #0F4157;
}

.navigation__profile-button_image_black {
    background-color: #313131;
}

.navigation__hamburger {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
}

.navigation__hamburger-bar {
    width: 26px;
    height: 3px;
    background-color: #FFFFFF;
    margin: 4px;
    transition: background-color 0.3s ease;
}

.navigation__hamburger-bar:nth-child(2) {
    margin: 3px 0;
}


.navigation__menu {
    width: 67%;
    background-color: #202020;
    position: fixed;
    top: 0;
    right: -67%;
    bottom: 0;
    transition: right 0.3s ease;
    z-index: 1000;
}

.navigation__menu.open {
    right: 0;
}

.navigation__close-button {
    position: absolute;
    top: 22px;
    right: 22px;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.navigation__close-icon {
    height: 22px;
    width: 22px;
    transition: opacity .3s ease;
}

.navigation__close-icon:hover {
    opacity: .8;
}

.navigation__menu_links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 160px;
}

.navigation__menu_link {
    color: #FFF;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Inter', sans-serif, Arial;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
    margin-bottom: 28px;
    transition: opacity 0.3s ease;
    padding-bottom: 2px;
}

.navigation__menu_link:hover {
    opacity: 0.7;
}

.navigation__menu_link:last-of-type {
    margin-bottom: 0;
}

.navigation__menu_link.active {
    border-bottom: 2px solid rgba(218, 218, 218, 1);
}

.navigation__menu_account-button {
    display: flex;
    justify-content: center;
    margin-top: calc(100vh - 40vh);
    text-decoration: none;
}

@media screen and (max-width: 650px) {
    
    .navigation__menu {
        width: 100%;
        right: -100%;
    }

}